<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/home.css">
    <title>E-Kart</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div>
                <img src="/images/logo.png" alt="E-Kart">
            </div>
            <ul class="nav-links">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
            </ul>   
        </nav>
   
    </div>
    <div class="hero">
        <div>
            <h1>Shop Now</h1>
            <p>Shop from the best products</p>
        </div>
    </div>
</body>
</html>